<h1>Gabriela Nir</h1>
<h2>mom</h2>
<h3>eng</h3>
<p>Find me in app/views/pages/info.html.erb</p>
<p>"This is my first time codding in Ruby on Rails. 
	This is fun so far" </p>
	<br> I need to learn more so I can do my own application, but this is a good start </br>
